<style>
  .pagination {
      list-style-type: none;
      padding: 0;
      margin-top: 50px;
      margin-bottom: 30px;
      text-align: center;
  }

  .pagination li {
      display: inline-block;
      margin: 0 2px;
      width: 40px;
  }

  .pagination li a {
      display: block;
      padding: 7px 10px;
      background-color: #ffffff;
      text-decoration: none;
      border-radius: 2px;
  }

  .pagination li.active a {
      background-color: #E31523;
      color: #ffffff;
  }

  .pagination li a:hover {
      background-color: #e3152382;
      color: #ffffff;
  }
</style>

<ul class="pagination">
  <li><a href="">&#60;</a></li>
  <li><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">...</a></li>
  <li><a href="">8</a></li>
  <li><a href="">9</a></li>
  <li><a href="">10</a></li>
  <li class="active"><a href="">11</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li><a href="">14</a></li>
  <li><a href="">...</a></li>
  <li><a href="">56</a></li>
  <li><a href="">57</a></li>
  <li><a href="">&#62;</a></li>
</ul>
